# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Real-Time-Todo-Backend/node_modules
/Real-Time-Todo-Frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/Real-Time-Todo-Backend/.env
/Real-Time-Todo-Frontend/.env.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
